#Redirecciona solamente de http a https
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

#HSTS (HTTP Strict Transport Security)
<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload"
</IfModule>

#No se permite que se acceda a los archivos de la configuracion
RewriteRule ^app/.env$  / [L,R=404,NE]
RewriteRule ^app/.env.example$  / [L,R=404,NE]
RewriteRule ^app/autoload.php$  / [L,R=404,NE]
RewriteRule ^app/composer.json  / [L,R=404,NE]
RewriteRule ^app/composer.lock$  / [L,R=404,NE]

RewriteRule ^app/vendor/(.*)  / [L,R=404,NE]
RewriteRule ^app/models/(.*)  / [L,R=404,NE]
RewriteRule ^app/controllers/(.*)  / [L,R=404,NE]
RewriteRule ^app/config/(.*)  / [L,R=404,NE]


<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>


# Compresión de texto
<FilesMatch "\.(css|js|ico|pdf|jpg|jpeg|png|gif|php|woff|tff|svg|webpp)$">
SetOutputFilter DEFLATE
</FilesMatch>

#Cache de un año para los archivos estaticos
Header set Cache-Control "max-age=31536000, public"
#cookies seguras
Header always edit Set-Cookie (.*) "$1; Secure"
#No permitir iframe
Header set X-Frame-Options SAMEORIGIN

#Cache-Control: max-age=31536000
php_value max_execution_time 300

# Generated by danidoble at: 2021-03-10 08:48:56
# GitHub danidoble - https://github.com/danidoble
# ...
